altgraph==0.17.5
CTkToolTip==0.9
customtkinter==5.2.2
darkdetect==0.8.0
iso3166==2.1.1
packaging==26.2
pefile==2024.8.26
psutil==7.2.2
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pywin32==312
pywin32-ctypes==0.2.3
setuptools==82.0.1
typing_extensions==4.15.0
Windows-Toasts==1.3.1
winrt-runtime==3.2.1
winrt-Windows.Data.Xml.Dom==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.UI.Notifications==3.2.1
