altgraph==0.17.5
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.2
colorama==0.4.6
idna==3.18
iso3166==2.1.1
packaging==26.2
pefile==2024.8.26
psutil==7.2.2
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pywin32==312
pywin32-ctypes==0.2.3
requests==2.34.2
urllib3==2.7.0
