altgraph==0.17.4
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
darkdetect==0.8.0
idna==3.10
iso3166==2.1.1
packaging==24.2
pefile==2024.8.26
pip-check-reqs==2.5.3
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
python-dotenv==1.0.1
pywin32==308
pywin32-ctypes==0.2.3
requests==2.32.3
urllib3==2.3.0
