# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python Program - MSPCMangerHelper

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            architecture: x64
          - os: windows-11-arm
            architecture: ARM64
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5
    - name: Set Up Python 3.11
      uses: actions/setup-python@v6
      with:
        python-version: "3.11"
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        if (Test-Path requirements.txt) { pip install -r requirements.txt }
    - name: Build EXE
      run: |
        ./scripts/build/build.bat
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.ref == 'refs/heads/main' && 'MSPCManagerHelper_Beta' || 'MSPCManagerHelper_Preview_Beta' }}_${{ matrix.os }}_${{ matrix.architecture }}
        path: ./dist/
