# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python Application - MSPCMangerHelper

on:
  push:
    branches: [ "main", "Preview" ]
  pull_request:
    branches: [ "main", "Preview" ]

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            architecture: x64
          - os: windows-11-arm
            architecture: ARM64
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if (Test-Path requirements.txt) { pip install -r requirements.txt }
    - name: Cleanup before build
      run: |
        ./scripts/build/cleanup-before-first-build.cmd
    - name: Build exe
      run: |
        ./scripts/build/build.cmd
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.ref == 'refs/heads/main' && 'MSPCManagerHelper_Beta' || 'MSPCManagerHelper_Preview_Beta' }}_${{ matrix.os }}_${{ matrix.architecture }}
        path: ./dist/
